*.iml
.gradle
app/src/main/assets/sync/car.gram
app/src/main/assets/sync/car_long.gram
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/pocketsphinx-android-5prealpha-release/build
/models/src/main/assets
/models/build/
app/src/main/assets/database/library.db
app/schemas/